/*-- scss:defaults --*/

// University of Glasgow colour base-palette: 

$university-blue: #003865;
$burgundy:        #7d2239;
$cobalt:          #0075b0;
$lavender:        #5b4d94;
$leaf:            #00843d;
$moss:            #385a4f;
$pillarbox:       #b30c00;
$rust:            #be4d00;
$sandstone:       #7a6855;
$sky-blue:        #005398;
$slate:           #4f5961;
$thistle:         #951272;


// Template colour styles

$navbar-bg: $university-blue;
$navbar-fg: #ffffff;
$navbar-hl: #ffffff;
$callout-color-note: $university-blue;
$callout-color-tip: $leaf;
$callout-color-caution: $rust;
$callout-color-warning: $pillarbox;
$callout-color-important: $cobalt;

